<div class='container'>
    <div class="form">
      <h2 id="title">Letter: 'a'</h2>

      <form>
        <label class="label">Nombre</label>
        <input type="text" />
        <br />
        <br />

        <label class="label">Apellido</label>
        <input type="text"/>
        <br />
        <br />

        <label class="label">Pet&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
        <input type="text" />
        <br />
        <br />

        <label class="label">Yolo&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
        <input type="text"/>
        <br />
        <br />
        <label class="label2">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
        <button id='startGame' class="pure-button pure-button-primary">Done!</button>
      </form>
    </div>
</div>

<script>

</script>
